@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto');

:root {
    --font-default: 'Roboto', sans-serif;
    --font-title: 'Montserrat', sans-serif;

    --color-dark-default: #7a7a7a;
    --color-dark-title: #6ec1e4;
    --color-light-default: #fff;
    --color-light-title: #fff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-default);
}

h1, h2 {
    font-family: var(--font-title);
}

#container {
    background-color: #fff;
}

#cabecalho {
    width: 100%;
    padding: 10px;
}

#cabecalho > header {
    width: 1200px;
    min-height: 70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cabecalho > header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cabecalho > header > nav > ul > li {
    display: inline;
}

#cabecalho img {
    vertical-align: middle;
}

#cabecalho a, #cabecalho a:visited {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: var(--color-dark-default);
}

#cabecalho a:hover, #cabecalho a:active {
    color: var(--color-dark-title);
    border-bottom: solid 2px var(--color-dark-title);
}

#banner {
    width: 100%;
    min-height: 800px;
    background-image: url('../img/fundo-cabecalho-brasvan.png');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#banner-msg {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#banner-msg > h1 {
    font-size: 54px;
    line-height: 54px;
    color: var(--color-light-default);
    text-shadow: 1px 1px 2px #090909;
    opacity: 1;
}

#divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #fff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#banner-msg > p {
    font-size: 24px;
    line-height: 24px;
    color: var(--color-light-default);
    text-shadow: 1px 1px 2px #090909;
    opacity: 1;
    margin-top: 35px;
}

#banner-msg img {
    width: 100px;
    margin-top: 20px;
}

.fundo-branco {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    color: var(--color-dark-default);
    font-size: 16px;
    line-height: 24px;
}

.fundo-azul {
    background-image: linear-gradient(45deg, #14599a 0%, #061a40 100%);
    padding-top: 80px;
    padding-bottom: 80px;
    color: var(--color-light-default);
    font-size: 16px;
    line-height: 24px;
}

.fundo-cinza {
    background-image: url('../img/fundo-contato.png');
    padding-top: 80px;
    padding-bottom: 80px;
    color: var(--color-light-default);
    font-size: 16px;
    line-height: 24px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fundo-branco h2 {
    color: var(--color-dark-title);
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 20px;
}

.fundo-azul h2, .fundo-cinza h2 {
    color: var(--color-light-title);
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 20px;
}

.fundo-branco p, .fundo-azul p, .fundo-cinza p {
    padding-bottom: 15px;
}

.largura-total {
    width: 100%;
}

#empresa-atendimento {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

#empresa, #atendimento {
    width: 575px;
}

#atendimento ul {
    padding-left: 40px;
}

#servicos, #veiculos, #clientes, #contato {
    width: 100%;
}

#servicos-wrap, #veiculos-wrap, #clientes-wrap, #contato-wrap {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}

#eventos {
    margin-bottom: 20px;
}

#receptivo, #city-tours-hospedagem, #art-veiculos, #img-veiculos, #rodape-copyright, #rodape-assinatura {
    width: 575px;
}

#title-hospedagem {
    margin-top: 20px;
}

#clientes {
    padding-top: 0px;
}

#contato-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#telefones {
    width: 400px;
    text-align: center;
}

#formulario-contato {
    width: 580px;
}

#contato ul {
    list-style-type: none;
}

#contato li {
    line-height: 24px;
    margin-bottom: 15px;
}

#icone-phone {
    font-size: 42px;
    margin-bottom: 20px;
}

#formulario-contato label {
    text-align: left;
    margin-bottom: 10px;
}

#formulario-contato input, #formulario-contato textarea {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}

#formulario-contato input {
    height: 42px;
}

#formulario-contato #frm-enviar {
    width: 100px;
}

footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#rodape {
    padding-top: 30px;
    padding-bottom: 20px;
}

#rodape p {
    margin-bottom: 0px;
}

#rodape-copyright, #rodape-assinatura {
    font-size: 11px;
    line-height: 11px;
}

#rodape-copyright {
    text-align: left;
}

#rodape-assinatura {
    text-align: right;
}

#empresas-logos {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#empresas-logos img {
    margin: 20px;
}